@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

/**/

.h-top-p1{
    font-family: 'Kameron', serif;
    font-weight: 600;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
}
.h-top-p2{
    font-family: 'Kameron', serif;
    font-weight: 400;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
}
.h-top-p3{
    font-family: 'Kameron', serif;
    font-weight: 600;
    color: #0C2C55;
}
.h-top-btn{
    font-family: 'Kameron', serif;
    font-weight: 600;
    color: #0C2C55;
}

.h-category-p1{
    font-family: 'Kameron', serif;
    font-weight: 600;
    font-size: 24px;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
}
.h-category-p2{
    font-family: 'Kameron', serif;
    font-weight: 400;
    font-size: 16px;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
}
.h-category-top-p2{
    font-family: 'Kameron', serif;
    font-weight: 600;
    font-size: 20px;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
}
.h-category-op1{
    font-family: 'Kameron', serif;
    font-weight: 400;
    color: #0C2C55; /* Chnage the color if needed FFFFFF */
}
.h-content-filter-p1{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #0C2C55;
}
.h-content-filter-p2{ /* small gray */
    font-family: 'Kameron', serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: #A9A9A9;
}
.h-content-new-property-p1{
    font-family: 'Kameron', serif;
    font-weight: 600;
    line-height: 25px;
    color: #0C2C55;
}
.h-content-new-property-p2{
    font-family: 'Kite One', serif;
    font-weight: 400;
    line-height: 25px;
    color: #0C2C55;
}
.h-content-property-card-p1{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #0C2C55;
}
.h-content-property-card-p2{ /* small gray */
    font-family: 'Kameron', serif;
    font-size: 8.5px;
    font-weight: 400;
    line-height: 25px;
    color: #A9A9A9;
}
.h-content-property-card-p3{ 
    font-family: 'Kameron', serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    color: #A9A9A9;
}
.h-new-property-btn{
    font-family: 'Kameron', serif;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
}

.h-offers-p1{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #0C2C55;
}
.h-offers-p2{
    font-family: 'Kameron', serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #0C2C55;
}

.h-content-review{
    font-family: 'Kite One', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #0C2C55;
}
.h-content-review-p{
    font-family: 'Kameron', serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    color: #0C2C55;
}
.h-content-review-post{
    font-family: 'Kameron', serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    color: #A9A9A9;
}
.h-content-btn{
    font-family: 'Kameron', serif;
    font-size: 10px;
    font-weight: 600;
    color: #FFFFFF;
}

.h-footer-p1{
    font-family: 'Kameron', serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #0C2C55;
}
.h-footer-p2{
    font-family: 'Kameron', serif;
    font-size: 8px;
    font-weight: 400;
    color: #0C2C55;
}
.h-footer-copyright{
    font-family: 'Kameron', serif;
    font-size: 8px;
    font-weight: 400;
    color: #0C2C55;
}

/* Header Desktop */

.h-tabs-p1{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C2C55;
}
.h-tabs-p2{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Menu */

.menu-p1{
    font-family: 'Kameron', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    color: #0C2C55;
}

/* Contact */

.c-top-p1{
    font-family: 'Kameron', serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 20px;
    color: #0C2C55;
}
.c-top-p2{
    font-family: 'Kameron', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #0C2C55;
}
.c-top-p3{
    font-family: 'Kameron', serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #0C2C55;
}
.c-form-label{
    font-family: 'Kameron', serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: #0C2C55;
}
.c-form-p1{
    font-family: 'Kameron', serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    color: #0C2C55;
}
.c-form-btn{
    font-family: 'Kameron', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 5px;
    color: #0C2C55;
}

/* Footer Button */

.button {
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #FFFFFF;
border: none;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition-duration: 0.3s;
overflow: hidden;
position: relative;
}

.svgIcon {
width: 12px;
transition-duration: 0.3s;
}

.svgIcon path {
fill: #0C2C55;
}